.hiddenInput {
  display: none;
}

.share {
  width: 60vw;
  margin: 50px auto;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shareWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.shareTop {
  display: flex;
  align-items: center;
  margin-inline: 30px;
  gap: 20px;
}

.avatar,
.mediaIcon,
.cancelImg {
  width: 40px;
}

.shareTop textarea {
  border: none;
  outline: none;
  resize: none;
  flex: 1;
  font-size: 1.1rem;
}

.shareHr {
  margin-block: 20px;
}

.imgContainer {
  max-height: 750px;
  padding-inline: 20px;
  margin-block: 10px;
  overflow: hidden;
  position: relative;
}

.shareImg {
  width: 100%;
  object-fit: cover;
}

.cancelImg {
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;
}
.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 30px;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

label:hover {
  color: #1ca0f2;
}

.shareButton {
  border: none;
  outline: none;
  background-color: #008000;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: rgba(0, 128, 0, 0.24) 0px 3px 8px;
  transition: 0.2s;
}

.shareButton:hover {
  transform: scale(0.9);
}
